<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Valor</th>
      <th scope="col">Data de vencimento</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @credit_request.payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.due_date %></td>
        <td><%= payment.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
