<header>
  <div class="header-xlarge-wrap">
    <div class="left-corner">
      <h2>Solicitação de Empréstimo</h2>
    </div>
    <div>
      <ul>
        <li><%= link_to 'Voltar', borrower_borrowings_path(@borrower) %></li>
      </ul>
    </div>
  </div>
</header>
<main>
  <p id="notice"><%= notice %></p>
  <%= render 'form', borrowing: @borrowing %>
</main>
