<% @company.credit_requests.each do |request| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Valor</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to request.id, credit_request_path(request) %>
        </td>
        <td>
          <%= request.amount %>
        </td>
        <td>
          <%= request.status %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
