/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-content{
  font-family: Gill Sans Extrabold, sans-serif;
  padding: 50px;
  background-color: #e0e2e4;
  border-radius: 15px;
  min-height: 600px;
}

#index-title{
  h1{
    font-family: serif;
    font-weight: bolder;
  }
  padding: 50px;
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
}
